In [1]:
import pandas as pd

In [2]:
url = 'https://morningconsult.com/2019/01/10/americas-most-and-least-popular-senators-q4-2018-2/'

In [4]:
tables = pd.read_html(url)
tables

In [5]:
df = tables[0]
df.head()

,State,Politician,Approve,Disapprove,Don't Know / No Opinion,Margin of Error
0,Alabama,Richard Shelby,47%,27%,26%,1%
1,Alabama,Doug Jones,40%,35%,25%,1%
2,Alaska,Lisa Murkowski,39%,42%,19%,5%
3,Alaska,Dan Sullivan,40%,33%,27%,5%
4,Arizona,Jon Kyl,35%,24%,42%,1%

In [6]:
df.set_index('State', inplace=True)
df.head()

,Politician,Approve,Disapprove,Don't Know / No Opinion,Margin of Error
State,,,,,
Alabama,Richard Shelby,47%,27%,26%,1%
Alabama,Doug Jones,40%,35%,25%,1%
Alaska,Lisa Murkowski,39%,42%,19%,5%
Alaska,Dan Sullivan,40%,33%,27%,5%
Arizona,Jon Kyl,35%,24%,42%,1%

In [7]:
df.to_csv('senator_approve_rate.csv')

In [ ]:
# transfer to html
#df.to_html('senator_approve_rate.html')